@import "boilerform/boilerform";
@import "iconPicker";

// FORM STYLES
.r3bl-admin-title-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
	margin-bottom: 48px;
}

.r3bl-admin-title-icon {
	width: 35px;
	height: 35px;
	font-size: 35px;
}

.r3bl-admin-add-btn {
	margin-top: 12px;
}

.r3bl-admin-empty-btn {
	border-width: 0;
	border-style: none;
	padding: 0;
}

.r3bl-admin-intro-text {
	margin: 0 60px;
	font-size: 18px;
}

@mixin placeholder-styles {
	color: #cccccc !important;
	font-weight: 200;
	font-style: italic;
}

.c-admin {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px;
	width: 100%;
	padding: 30px 60px;

	::-webkit-input-placeholder {@include placeholder-styles;}
	::-moz-placeholder {@include placeholder-styles;}
	:-ms-input-placeholder {@include placeholder-styles;}
	::placeholder {@include placeholder-styles;}

	.slug-notifications {
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s ease-in-out 0s;
		width: 100%;
		min-height: 0;
		font-size: 12px;
		font-style: italic;
		line-height: 16px;
	}

	.r3blcptui-fld-error {
		label {
			font-weight: 800;
			font-style: italic;
			color: #d63639;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		input[type] {
			border: #d636397f dashed 2px;
		}

		.slug-notifications {
			padding: 10px;
			margin-bottom: 0 !important;
			visibility: visible;
			opacity: 1;
		}
	}

	&__field {
		label {
			padding-bottom: 12px;
			color: rgba(0,0,0,0.8);
			span {
				font-weight: 800;
				font-style: italic;
				color: #d63639;
			}
		}

		input[type] {
			width: 100%;
		}

		p {
			font-style: italic;
			color: rgba(0,0,0,0.4);
			display: block;
			width: 100%;
		}

		&--full {
			width: 100%;
		}

		&--half {
			width: 45%;
			@media (max-width: 900px) {
				width: 100%;
			}
		}

		&--qrtr {
			width: 20%;
			@media (max-width: 1000px) {
				width: 45%;
			}
			
			p {
				margin-top: 0;
			}
		}

		&--icon {
			.c-icon {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: nowrap;
				gap: 10px;

				.c-icon-picker-field {
					flex-grow: 1;
				}
		
				.c-icon-picker-btn {
					flex-grow: 0;
				}
			}
		}

		&--repeat {
			margin-top: 35px;

			.repeat-taxs {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-between;
				gap: 25px;
			}
			.repeat-field-group {
				width: 100%;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				flex-wrap: nowrap;
				gap: 50px;

				.repeat-field {
					flex-grow: 1;
				}

				.row-num {
					padding-top: 15px;
				}

				.c-check-field {
					padding-top: 10px;
				}
			}
			.repeat-add {
				max-width: 250px !important;
				padding-left: 25px !important;
				padding-right: 25px !important;
				margin-bottom: 25px !important;
				span {
					display: inline-block;
					width: 32px;
					text-align: left;
				}
			}
		}
	}

	&__button {
		width: 100%;
		text-align: center;
		button {
			width: 100%;
			padding: 20px !important;
			text-transform: uppercase;
			margin-top: 15px !important;
			transition: all 0.3s ease-in-out 0;
		}
	}
}

.boilerform .c-check-field__decor {
	background: white;
}

.boilerform .c-icon-btn {
	padding: 0;
	max-width: 8%;
	min-width: 40px;
	height: 40px;
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	&:hover, &:focus {
		color: white !important;
		border: none !important;
		box-shadow: none !important;
	}
}

.boilerform .slug-max-width {
	max-width: 23%;
}

.dashicon-picker-container {
	margin-top: 40px;
}

.user-notifications {
	padding: 30px 60px;

	ul.error-list {
		list-style: disc;
		margin-left: 25px;
		 li {
			 padding: 5px 0;
		 }
	}

	.r3bl-notice {
		background: #fff;
		border: 1px solid #c3c4c7;
		box-shadow: 0 1px 1px rgba(0,0,0,.04);
		margin: 5px 15px 2px;
		padding: 1px 12px;
	}

	.notice-success {
		border-left-color: #00a32a;
		border-left-width: 4px;
	}
}

.r3blcptui-table-wrap {
	margin: 0 20px 0 0;
}

// ADMIN LIST STYLES
.wp_list_r3blcptui {
	th {
		font-weight: 400;
	}

	.column-icon {
		width: 75px;
		text-align: left;
	}

	.column-id {
		width: 50px;
		text-align: left;
	}

	td.column-title {
		font-size: 16px;
	}

	.column-taxonomies {
		width: 200px;
	}

	.column-slug {
		width: 150px;
	}

	.column-options {
		width: 200px;
	}

	.column-created,
	.column-modified {
		width: 200px;
	}
}

.r3bl-admin-list-options {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 20px;
	align-items: center;
	justify-content: flex-start;

	.r3bl-option-icon {
		font-size: 30px;
	}
}

.r3bl-admin-title-wrap .wp-header-end {
	width: 100%;
}